/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@400,700&display=swap');
body{
  background: #000;
  font-family: 'Prompt', sans-serif;
}

.hero{
  width: 100%;
  height: 400px;
  background-size: cover;
  position: relative;
  /*background: conic-gradient(from 90deg at bottom right, cyan, rebeccapurple);*/
  background: yellow url(kal-visuals-jA7iWRaJruA-unsplash.jpg) no-repeat top;
  overflow: hidden;

}

.hero-gradient {
  background: rgba(0,0,0,.4);
  background-image: none;
  background-image: -webkit-gradient(linear,left bottom,left top,from(rgba(0,0,0,.8)),color-stop(60%,rgba(0,0,0,0)),to(rgba(0,0,0,.8)));
  background-image: -webkit-linear-gradient(bottom,rgba(0,0,0,.8) 0,rgba(0,0,0,0) 60%,rgba(0,0,0,.8) 100%);
  background-image: -moz- oldlinear-gradient(bottom,rgba(0,0,0,.8) 0,rgba(0,0,0,0) 60%,rgba(0,0,0,.8) 100%);
  background-image: -o-linear-gradient(bottom,rgba(0,0,0,.8) 0,rgba(0,0,0,0) 60%,rgba(0,0,0,.8) 100%);
  background-image: linear-gradient(to top,rgba(0,0,0,.8) 0,rgba(0,0,0,0) 60%,rgba(0,0,0,.8) 100%);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
}

.hero-content {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.movie-banner{
  width: 100%;
  height: 350px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: beige;
  font-size: 80px;
  font-weight: bold;
}

.movie-wrapper{
  transition: 1s ease all;
  cursor: pointer;
}

.actor-banner{
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: beige;
  border-radius: 50%;
  font-size: 80px;
  font-weight: bold;
  margin: 0 auto;
}

.actor-wrapper{
  transition: 1s ease all;
  cursor: pointer;
}

.actor-wrapper:hover{
}

.movie-actions, .actor-actions{
  position: absolute;
  top: 0;
  z-index: 10;
  padding: 5px;
  display: none;
}

.movie-wrapper:hover .movie-actions, .actor-wrapper:hover .actor-actions {
  display: flex;
}
